body {
    margin: 0;
    font-family: 'Serif', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 20px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

p {
    font-size: 1.5rem;
}

.cta {
    margin-top: 30px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #0055b8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta:hover {
    background-color: #003a75;
}

nav {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #0055b8;
}
.App {
    width: 100vw;
    height: 100vh;
    overflow: auto; /* To allow scrolling if content exceeds viewport height */
  }